<?xml version='1.0' encoding='UTF-8'?>
<config>
   <process Arch="32" OS="windows" name="kernelov.sys">
      <input>
	  <application>kernelov.sys</application>
	  <path>kernelov.sys</path>
	  <args />
	  <sdir>C:\Documents and Settings\Administrator\Desktop\</sdir>
	  <remote>True</remote>
	  
	  <host>com:port=\\.\pipe\com_2,baud=115200,pipe</host>
	  <pass />
	  <port>23946</port>
	  <debugger>windbg</debugger>
	  <pin>False</pin>
      </input>
      <customBreakpoints>
	<customBreakpoint breakpoint="0x00010D89" callback="CustomCallbacks.customCallbacksFunc.MySioctlDeviceControlCrashMonitor()" />
      </customBreakpoints>
   </process>
      <process Arch="32" OS="windows" name="win32k.sys">
      <input>
	  <application>win32k.sys</application>
	  <path>win32k.sys</path>
	  <args />
	  <sdir>C:\Windows\system32\</sdir>
	  <remote>True</remote>
	  <host>com:port=\\.\pipe\com_2,baud=115200,pipe</host>
	  <pass />
	  <port>23946</port>
	  <debugger>windbg</debugger>
	  <pin>False</pin>
      </input>
      <customBreakpoints>
	<customBreakpoint breakpoint="0xBF80EE99" callback="CustomCallbacks.customCallbacksFunc.MyNtUserMessageCall()" />
      </customBreakpoints>
      </process>
      <process Arch="32" OS="windows" name="fontview.exe">
	 <input>
	     <application>fontview.exe</application>
	     <path>fontview.exe</path>
	     <args>good.fon</args>
	     <sdir>c:\windows\system32\</sdir>
	     <remote>True</remote>
	     <host>192.168.214.150</host>
	     <pass />
	     <port>23946</port>
	     <debugger>win32</debugger>
	     <pin>False</pin>
	 </input>
	 <filter type="fileIO">
		   <fileName>good.fon</fileName>
	 </filter>
      </process>
      <process Arch="32" OS="linux" name="basicov">
      <input>
	  <application>basicov</application>
	  <path>basicov</path>
	  <args>mytaint.txt</args>
	  <sdir>/home/user/Downloads/basicov</sdir>
	  <remote>True</remote>
	  <host>192.168.214.129</host>
	  <pass />
	  <port>23946</port>
	  <debugger>linux</debugger>
	  <pin>False</pin>
      </input>
      <filter type="fileIO">
		<fileName>mytaint.txt</fileName>
      </filter>
   </process>
      <process Arch="32" OS="linux" name="sox">
      <input>
	  <application>sox</application>
	  <path>sox</path>
	  <args>BadWav.wav test.wav</args>
	  <sdir>/home/user/Downloads</sdir>
	  <remote>True</remote>
	  <host>172.16.73.199</host>
	  <pass />
	  <port>23946</port>
	  <debugger>linux</debugger>
	  <pin>False</pin>
      </input>
      <filter type="fileIO">
		<fileName>BadWav.wav</fileName>
      </filter>
   </process>
   <process Arch="32" OS="windows" name="shimgvw.dll">
      <input>
	  <application>c:\windows\system32\rundll32.exe</application>
	  <path>c:\windows\system32\shimgvw.dll</path>
	  <args>c:\windows\system32\shimgvw.dll,ImageView_Fullscreen C:\escape\escape.wmf</args>
	  
	  <sdir>c:\windows\system32\</sdir>
	  <remote>True</remote>
	  <host>192.168.214.188</host>
	  <pass />
	  <port>23946</port>
	  <debugger>win32</debugger>
	  <pin>False</pin>
      </input>
      <filter type="fileIO">
		<fileName>escape.wmf</fileName>
		<fileName>test.0.wmf</fileName>
      </filter>
   </process>
      <process Arch="32" OS="windows" name="WinHex.exe">
      <input>
	  <application>WinHex.exe</application>
	  <path>WinHex.exe</path>
	  <args />
	  <sdir>.</sdir>
	  <remote>False</remote>
	  <host />
	  <pass />
	  <port>0</port>
	  <debugger>win32</debugger>
	  <pin>False</pin>
      </input>
      <filter type="fileIO">
		<fileName>basicov.exe</fileName>
      </filter>
   </process>
   <process Arch="32" OS="windows" name="hexedit.exe">
      <input>
	  <application>hexedit.exe</application>
	  <path>hexedit.exe</path>
	  <args />
	  <sdir>.</sdir>
	  <remote>False</remote>
	  <host />
	  <pass />
	  <port>0</port>
	  <debugger>win32</debugger>
	  <pin>False</pin>
      </input>
      <filter type="fileIO">
		<fileName>basicov.exe</fileName>
      </filter>
   </process>
   <process Arch="32" OS="windows" name="basicov.exe">
      <input>
	  <application>basicov.exe</application>
	  <path>basicov.exe</path>
	  <args>mytaint.txt</args>
	  <sdir>.</sdir>
	  <remote>False</remote>
	  <host />
	  <pass />
	  <port>0</port>
	  <debugger>win32</debugger>
	  <pin>False</pin>
      </input>
      <filter type="fileIO">
	 <fileName>mytaint.txt</fileName>
      </filter>
   </process>
      <process Arch="32" OS="macosx" name="basicov.exe">
      <input>
	  <application>basicov.exe</application>
	  <path>basicov.exe</path>
	  <args>mytaint.txt</args>
	  <sdir>.</sdir>
	  <remote>False</remote>
	  <host />
	  <pass />
	  <port>0</port>
	  <debugger>macosx</debugger>
	  <pin>False</pin>
      </input>
      <filter type="fileIO">
	 <fileName>mytaint.txt</fileName>
      </filter>
   </process>
      <process Arch="32" OS="windows" name="basicov0.exe">
      <input>
	  <application>basicov0.exe</application>
	  <path>basicov0.exe</path>
	  <args />
	  <sdir>.</sdir>
	  <remote>False</remote>
	  <host />
	  <pass />
	  <port>0</port>
	  <debugger>win32</debugger>
	  <pin>False</pin>
      </input>
      <filter type="fileIO">
	 <fileName>mytaint.txt</fileName>
      </filter>
   </process>
   <process Arch="32" OS="windows" name="condov.exe">
      <input>
	  <application>condov.exe</application>
	  <path>c:\Test\condov\condov.exe</path>
	  <args />
	  <sdir>.</sdir>
	  <remote>False</remote>
	  <host>172.016.073.176</host>
	  <pass />
	  <port>23966</port>
	  <debugger>win32</debugger>
	  <pin>False</pin>
      </input>
      <filter type="fileIO"><fileName>mytaint.txt</fileName></filter></process>
      <process Arch="32" OS="windows" name="basicov1.exe">
      <input>
	  <application>basicov1.exe</application>
	  <path>basicov1.exe</path>
	  <args />
	  <sdir>.</sdir>
	  <remote>False</remote>
	  <host />
	  <pass />
	  <port>0</port>
	  <debugger>win32</debugger>
	  <pin>False</pin>
      </input>
      <filter type="fileIO">
	 <fileName>mytaint.txt</fileName>
      </filter>
   </process>
      <process Arch="32" OS="windows" name="basicovPlus.exe">
      <input>
	  <application>basicovPlus.exe</application>
	  <path>c:\Test\basicovPlus\basicovPlus.exe</path>
	  <args />
	  <sdir>.</sdir>
	  <remote>False</remote>
	  <host>...</host>
	  <pass />
	  <port>0</port>
	  <debugger>win32</debugger>
	  <pin>False</pin>
      </input>
      <filter type="fileIO"><fileName>mytaint.txt</fileName></filter></process>
   <process Arch="32" OS="windows" name="notepad.exe">
      <input>
	  <application>notepad.exe</application>
	  <path>notepad.exe</path>
	  <args />
	  <sdir>.</sdir>
	  <remote>False</remote>
	  <host />
	  <pass />
	  <port>0</port>
	  <debugger>win32</debugger>
	  <pin>False</pin>
      </input>
      <filter type="fileIO">
	 <fileName>mytaint.txt</fileName>
	 <fileName>test.txt</fileName>
	 <fileName>trace.txt</fileName>
      </filter>
   </process>
   <process Arch="32" OS="windows" name="mev2_release.exe">
      <input>
	  <application>mev2_release.exe</application>
	  <path>mev2_release.exe</path>
	  <args />
	  <sdir>.</sdir>
	  <remote>False</remote>
	  <host>...</host>
	  <pass>password</pass>
	  <port>0</port>
	  <debugger>win32</debugger>
	  <pin>False</pin>
      </input>
      <filter type="networkIO"><port>6500</port></filter>
   </process>
   <process Arch="32" OS="windows" name="winVS.exe">
      <input>
	 <application>winVS.exe</application>
	 <path>winVS.exe</path>
	 <args />
	 <sdir />
	 <remote>False</remote>
	 <host>...</host>
	 <pass />
	 <port>0</port>
	 <debugger>win32</debugger>
	 <pin>False</pin>
      </input>
      <filter type="networkIO"><port>50007</port></filter>
   </process>
   <output>
      <path>.//trace.txt</path>
   </output>
   <Debug>False</Debug>
   <Logging>True</Logging>
<process Arch="32" OS="windows" name="basicov_gui.exe"><input><application>basicov_gui.exe</application><path>basicov_gui.exe</path><args /><sdir>.</sdir><remote>True</remote><pin>False</pin><host>172.16.73.200</host><pass /><port>23946</port><debugger>win32</debugger></input><filter type="fileIO"><fileName>mytaint.txt</fileName></filter></process><process Arch="32" OS="windows" name="calc.exe"><input><application>calc.exe</application><path>calc.exe</path><args /><sdir>.</sdir><remote>False</remote><pin>False</pin><host /><pass /><port>0</port><debugger>win32</debugger></input></process></config>